[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.3"
django-crispy-forms = "==1.7.1"
django-allauth = "==0.38.0"

[dev-packages]

[requires]
python_version = "3.7"
